header {
    background-color: $almostWhite;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    .nav-elements{
        display: none;
    }
    .mobile-view {
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        min-height: 100vh;
        z-index: 1;
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        color: $mediumGray;
        nav {
            font-size: 1.15rem;
            font-weight: 500;
            color: $mediumGray;
            display: inline-block;
            .nav-list {
                display: flex;
                flex-direction: column;
                z-index: 3;

                li {
                    padding: 1rem;
                    cursor: pointer;
                    transition: 0.2s all ease-in;

                    &:hover {
                        color: $almostBlack;
                        .dropdowns {
                            .arrow {
                                cursor: pointer;
                                filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(106%);
                            }                        
                        }
                    }

                    .dropdowns {
                        .arrow {
                            cursor: pointer;
                            transition: 0.2s all ease-in;
                        }

                        .feature-arrow {
                            margin-left: 1rem;

                        }

                        .company-arrow {
                            margin-left: 0.45rem;

                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        margin: auto;
                        li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            column-gap: 0.5rem;
                            color: $mediumGray;
                            font-size: 1.095rem;
                            white-space: nowrap;
                            .inner-list {
                                display: flex;

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .login-register {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                align-items: center;

                li {
                    font-size: 1.12rem;
                    cursor: pointer;
                    &:hover{
                        color: $almostBlack;
                    }
                }

                button {
                    border: none;
                    background-color: transparent;
                    padding: 0.85rem 2.55rem;
                    border: 1px solid $mediumGray;
                    color: $mediumGray;
                    border-radius: 0.65rem;
                    cursor: pointer;
                    font-size: 1rem;
                    transition: 0.3s all ease-in;
                    &:hover {
                        border-color: $almostBlack;

                    }
                }
            }
        }
    }

    .menu-icons {
        z-index: 1;
        cursor: pointer;
    }
}
//^ Media Queries
@media screen and (min-width: 768px) {
    header{
        display: flex;
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 0;
        }
        .mobile-view {
            display: none;
        }
        .nav-elements{
            display: flex;
            align-items: center;
            width: 88%;
            justify-content: space-between;
            nav{
                .nav-list{
                    display: flex;
                    align-items: center;
                    column-gap: 2.25rem;
                    font-size: 1.05rem;
                    color: $mediumGray;
                    li{
                        cursor: pointer;
                        transition: 0.2s all ease-in;
                        &:hover{
                            color: $almostBlack;
                            .dropdowns {
                                .arrow {
                                    cursor: pointer;
                                    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(106%);
                                }                     
                            }
                        }
                    }
                    .features{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .dropdowns{
                            margin-left: 0.45rem;
                        }
                        .feature-dropdown{
                            @include desktopDropdown();
                            @include boxShadow();
                            li{
                                display: flex;
                                align-items: center;
                                column-gap: 0.65rem;
                            }
                          
                        }
                    }
                    .company{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .dropdowns{
                            margin-left: 0.45rem;
                        }
                        .company-dropdown{
                            @include desktopDropdown();
                            left: 1rem;
                            @include boxShadow();
                            li{
                                display: flex;
                                align-items: center;
                                column-gap: 0.65rem;
                            }
                        }
                    }
                }
            }
            .login-register{
                ul{
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                    li {
                        font-size: 1.12rem;
                        cursor: pointer;
                        color: $mediumGray;
                        &:hover{
                            color: $almostBlack;
                        }
                    }
                    button {
                        border: none;
                        background-color: transparent;
                        padding: 0.75rem 1.85rem;
                        border: 1px solid $mediumGray;
                        color: $mediumGray;
                        border-radius: 0.65rem;
                        cursor: pointer;
                        font-size: 1rem;
                        transition: 0.3s all ease-in;
    
                        &:hover {
                            border-color: $almostBlack;
                        }
                    }
                }
            }
        }
        .menu-icons {
            display: none;
        }
    }
}